.form {
  display: flex;
  justify-content: center;

  input {
    width: 30rem;
    padding: 1rem;
    background: rgb(75, 75, 75);
    border: none;
    color: white;
    transition: 0.5s;

    &:focus {
      padding: 1.1rem;
    }

    &::placeholder {
      color: rgb(255, 255, 255);
      font-family: Ubuntu;
      font-size: 1.2rem;
    }
  }
}


@media screen and (max-width : 600px) {
  .form{
    max-width: 80vw;
  }
}